* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(36, 34, 195);
  background: linear-gradient(347deg, rgba(36, 34, 195, 1) 0%, rgba(22, 255, 240, 1) 68%);
}

#main-container {
  display: flex;
  justify-content: center;
}

#container-scores {
  display: flex;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 85px;
  margin-left: 125px;
  margin-top: 55px;
}

#title-scores {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 55px;
  margin-top: 55px;
  display: flex;
}

#refresh {
  margin-left: 150px;
  margin-top: 15px;
  padding: 1px 15px 5px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  width: 155px;
  height: 45px;
  background-color: #07417b;
  color: #e8f8f5;
  border-radius: 10px;
  cursor: pointer;
}

#refresh:hover {
  background-color: #085cb1;
}

#scores-list {
  margin-top: 25px;
  list-style: none;
  width: 680px;
  border: 2px solid black;
  background-color: #e8f8f5;
  border-radius: 25px;
}

#scores-list li.score-item:last-child {
  border-bottom: none;
}

.score-item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: flex;
  padding: 15px;
  border-bottom: 1px solid black;
}

#form-container {
  display: block;
  margin-left: 65px;
}

#title-form {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 55px;
  margin-left: 95px;
  margin-top: 55px;
  display: flex;
}

#form-add {
  margin-top: 25px;
  width: 420px;
}

.name-input {
  width: 390px;
  display: block;
  margin-left: 95px;
  padding: 15px;
  border: 2px solid black;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 20px;
  border-radius: 15px;
}

.name-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 20px;
}

.score {
  width: 390px;
  display: block;
  margin-left: 95px;
  padding: 15px;
  border: 2px solid black;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 20px;
  border-radius: 15px;
}

.score::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 20px;
}

.submit {
  padding: 1px 15px 5px 15px;
  font-family: 'Open Sans', sans-serif;
  width: 155px;
  height: 45px;
  margin-left: 365px;
  font-size: 22px;
  background-color: #07417b;
  color: #e8f8f5;
  border-radius: 10px;
  cursor: pointer;
}

.submit:hover {
  background-color: #085cb1;
}

footer {
  border: 1px solid black;
  height: 135px;
  margin-top: 90px;
  background-color: #07417b;
}
